*{
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  box-sizing: border-box;
}

.container1{
  width:1140px;
  margin:0 auto;
  padding-top:100px;
  padding-bottom:100px;
}

.container4{
  width:1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 auto;
  padding-top:100px;
  padding-bottom:100px;
}

.container5{
  width:1140px;
  margin:0 auto;
}

.container3{
  width:1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 auto;
}

.navbar{
  background-color: #daac00;
  display: flex;
  align-items: center;
  padding-top:30px;
  padding-bottom:30px;
}

.logo{
  width: 217px;
  padding-left: 100px;
  padding-right: 200px;
  cursor: pointer;
}

.navlinks{
  display: flex;
  color: white;
  padding-right: 60px;
  padding-left: 80px;
}

.navlinks li a {
  justify-items: center;
  text-decoration:none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

ul {
  list-style-type:none;
  gap: 40px;
}

.search-box {
  display: flex;
  background-color: #ffc107;
  margin: 10px;
  height: 40px;
}

.search-box input {
  border: none;
  outline: none;
  background-color: #ffc107;
  color: white;
  width: 180px;
  padding-left:15px;
}
 ::placeholder{
  color: white;
}

.search-btn {
  background-color: #00bec9;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px; 
}

.search-icon {
  background-color: #00bec9
  padding: 12px;
  display: flex;
  cursor: pointer;
}

.search-icon img {
  background-color: #00bec9;
  padding-left:7px;
  padding-right:7px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcc302;
  padding: 50px 70px;
}

.text1{
  padding-bottom: 100px;
  padding-left:50px;
}

h1 span{
  display: block;
}

h2 span{
  display: block;
}
h3 span{
  display:block;
}

.text1 h1 {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  color:  white;
 
}

.text1 p {
  color: #fff;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 15px;
  padding-top: 30px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.btn.primary {
  background: #00bec9;
  color: white;
}

.btn.secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}


.text2{
  padding-left:50px;
}

.text2 h2{
  font-size: 40px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 20px;
  color:  #313243;
  padding-bottom: 5px;
}

.text2 p{
  color: #313243;
  font-weight: 500;
}

.animals{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.button {
  background: #fcc302;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  cursor:pointer
}

.text3{
  text-align:center;
}

.text3 h2{
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.text3 p{
  color: white;
  font-weight: 300;
}

.title{
  margin: auto;
  background-color: #fcc302;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pic1{
  font-weight:300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.pic2{
  font-weight: 300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.pic3{
  font-weight: 300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.picture{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top:40px;
  padding-left:40px;
}

.picture h3{
  color:white;
  font-weight: 700;
  font-size: xx-large;
  padding-top: 30px;
}

.picture p{
  color: white;
  font-weight: 300;
  
}


.care{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  text-align: right;
}

.text4 h2{
  font-size: 29px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 10px;
  color:  #313243;
  padding-bottom: 10px;
}

.text4 p{
  color: #313243;
  font-weight: 500;
}

.button2{
  padding-top: 20px;
}



.petsale {
  margin: auto;
  background-color: #fcc302;
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
}

.text5 h2{
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.text5 p{
  color: #fff;
  font-weight: 300;
}

.pic4{
  font-weight: 300;
  margin-bottom: 1px;
  text-align: center;
}

.pic5{
  font-weight: 300;
  margin-bottom: 1px;
  text-align: center;
}

.pic6{
  font-weight: 300;
  margin-bottom: 1px;
  text-align: center;
}

.petsales{
  background-color:#fcc302;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top:40px;
}

.price {
  font-size: 30px;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: white;
  font-weight: 500;
  margin-right: 8px;
}

.new-price {
  color: white;
  font-weight: 500;
}

.buy-btn {
  background-color: #00bec9;
  color: white;
  padding: 10px 30px;
  border: none;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-btn:hover {
  background-color: #00bec9;
}

.text6 h2{
  font-size: 46px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 10px;
  color: #313243;
}

.text6 p{
  color:  #313243;
  font-weight: 300;
}

.vetcareteam{
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pic7{
  font-weight:300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.pic8{
  font-weight: 300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.pic9{
  font-weight: 300;
  margin-bottom: 1px;
  padding-right: 10px;
}

.vetcare{ 
  display: flex;
  margin: 0 auto;
  padding-top:40px;
  justify-content: space-between;
}


.vetcare h3{
  color: #313243;
  font-weight: 500;
  padding-top: 30px;
}

.vetcare h4{
  color:  #313243;
  font-weight: 300;
  padding-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: #daac00
}

.icons{
  background: url(/asserts/image/background.png);
  background-size: cover;
  margin: auto;
  text-align: center;
  padding-top:100px;
  padding-bottom:100px;
}

.pic10{
  font-weight: 300;
  margin-bottom: 1px;
}

.pic11{
  font-weight: 300;
  margin-bottom: 1px;
}

.pic12{
  font-weight: 300;
  margin-bottom: 1px;
}

.icon-images{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.icon-images h3{
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: x-large;
}

.icon-images h4{
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: x-large;
}

.text7{
  text-align: center;
}

.text7 h2 {
  font-size: 32px;
  color: #313243;
}

.text7 p {
  font-size: 16px;
  color: #313243;
}

.posts{
  padding-top: 30px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.text8{
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.post-cotents{
  padding: 20px;
  text-align: left;
}

.post-contents h3{
  padding-left: 10px;
}

.post-contents p{
  padding-left: 10px;
}
.date{
  font-size: 12px;
  color: #00bec9;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}

.read-more {
  color: #00bec9;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding-left: 10px;
}

.post-content h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #222;
}

.footer {
  margin: auto;
  background-color: #252525;
  color: #fff;
  padding: 40px 60px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.column {
  flex-direction: column;
}

.column h3 {
  font-size: 18px;
  padding-bottom:10px;
}

.column ul {
  list-style: none;
  padding: 0;

}

.column ul li {
  color: #ccc;
  
}

.subscribe h4 {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
}

.subscribe-box {
  display: flex;
  padding-top: 20px;
}

.email-field {
  background-color: #f0b400;
  width: 200px;
  padding-top: 50px;
}

.send-button {
  background-color: #00c2d3;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button img {
  width: 20px;
}

.social-icons2 {
  justify-items:left;
  padding-top: 30px;
  text-align:end;
  padding-right: 70px;
}

.column{
  cursor:pointer;
}

.footer-column-subscribe{
  cursor:pointer;
}




